@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Josefin+Sans:wght@700&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Indie+Flower&family=Josefin+Sans:wght@700&family=Shadows+Into+Light&display=swap');

*{
    margin:0px ;
    padding:0px ;
}
body{
    background:  rgb(215, 197, 248) url(../imagenes/a8.jpg);
    padding: 5%;
}
/*oscuroclaro*/
button{
  border: 0px;
}
.oscuroclaro1 {
  display: flex;
  align-items: center;
  justify-content: right;
}

.oscuroclaro{
  background-color: white ;
  width: 5vw;
  border-radius: 50%;
}
.oscuroclaro :hover{
    width: 6vw;
  }

/*cabezal*/
header{
    display: flex ;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px;
}
.logo{
    display: flex;
    order: -1;
    width: 25vh;
}
h1{
    font-size: 70px;
}
.medios{
    background: rgba(115, 177, 141, 0.116);
    width: 25vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.med{
    width: 3vw;
}
.medi :hover{
    width: 4vw;
    border-radius: 0%;
    background-color: white;
}

/*menu*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(92, 212, 182);
    height: 10%;
    border-radius: 10px; 
}
.otros{
    background: rgb(92, 212, 182);
    font-size: 2rem;
    margin: 1%;
}
.otros:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
    transform: translatey(-5%);
    padding: 5px;
    background: rgb(177, 245, 228);
    border-radius: 5px;

}
/*section presentacion*/
h2{
    font-size: 50px;
    margin: 10px;
    text-decoration: underline;
    font-family: Caveat;
}
.presentacion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px;
}
.baba{
    width: 20vw;
}
.tex{
    font-size: 40px;
    line-height: 50px;
    width: 50vw;
    color: rgb(90, 22, 153);
    font-family: Indie Flower;
}
figure{
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    padding: 5px;
}
.alfajor{
    width: 25vw;
}
/*section receta*/
.receta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;
}
.lista{
    background:url(../imagenes/h.jpg);
    background-size: cover;
    width: 35vw;
    padding: 20px;
    border-radius: 5px;
    color: black;
    }

.vi {
    width: 50%; 
    height: 315px;
}
/*section ubicacion*/
.donde{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;
}
.map{
    width: 43vw;
    height:33vw ;
}
/*seccion de card*/

.card-body{
    height: 250px;
}
/*pie de pagina*/
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: rgba(115, 177, 141, 0.534);
    margin: auto;
    padding: 10px;
    margin: 30px;
}
.was{
    position: fixed;
    bottom: 5%;
    right: 1%;
}
.chef{
    position: fixed;
    bottom: 25%;
    left: 1%;
    width: 12vw;
}


/*adaptacion pantalla 991*/
@media (max-width: 991px) {
    h1{ font-size: 60px;
    }
    h2{
        font-size: 40px;
    }
    .medios{
        width: 30vw;
    }
    nav{
        height: 8vh;
    }
    .otros{
        font-size: 22px;
    }
    .alfajor{
        width: 30vw;
    }
    .tex{
        font-size: 30px;
        line-height: 32px;
        width: 50%;
        color: rgb(90, 54, 122);
    }
    .lista{
            width: 100%;
    }
    .vi {
        width: 100%; 
        height: 415px;
    } 
    .map2{
            display: none;
    } 
  }
  @media (min-width: 991px) {
    .chef{
        display: none;
    }
    }

/* adaptacion a pantalla 768px*/

@media (max-width: 768px) {
    h1{ font-size: 55px;
    }
    h2{
        font-size: 30px;
    }
    .medios{
        width: 40vw;
    }
    nav{
        height: 10vh;
    }
    .otros{
        font-size: 22px;
    }
    .alfajor{
        width: 26vw;
    }
    .tex{
        font-size: 20px;
        line-height: 30px;
        width: 50%;
        color: rgb(0, 0, 0);
    }
    .lista{
        width: 100%;
        padding: 5px;
    }
    .vi {
        width: 100%; 
        height: 415px;
    }
    .map, .map2, .pregunta{
            display: none;
    }
      
    }

 /*adaptacion pantalla 575px*/
@media (max-width: 575px) {
    h1{ font-size: 50px;
    }
    h2{
        font-size: 30px;
    }
    .medios{
        width: 50vw;
    }
    nav{
        height: 5vh;
    }
    .otros{
        font-size: 15px;
    }
    .alfajor{
        width: 40vw;
    }
    .tex{
        font-size: 20px;
        line-height: 20px;
        width: 100%;
        color: rgb(23, 4, 41);
    }
    .lista{
        width: 100%;
    }
    .vi {
        width: 100%; 
        height: 215px;
    }
    
    .map, .map2, .pregunta{
            display: none;
    } 
    nav{
        height: 65px;
    }
    .med{
        width: 30px;
    }
    .medi :hover{
        width: 40px;
    }
    .was{
        width: 50px;
    }
  }

  @media (min-width: 575px) {
    .baba{
        display: none;
    }
  } 
