@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Josefin+Sans:wght@700&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Indie+Flower&family=Josefin+Sans:wght@700&family=Shadows+Into+Light&display=swap');

*{
    margin:0px ;
    padding:0px ;
}
body{
    background:  rgb(215, 197, 248) url(../imagenes/a8.jpg);
    padding: 5%;
}

/*cabezal*/
header{
    display: flex ;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px;
}
.logo{
    display: flex;
    order: -1;
    width: 25vh;
}
h1{
    font-size: 70px;
}
.medios{
    background: rgba(115, 177, 141, 0.116);
    width: 25vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.med{
    width: 3vw;
}
.med :hover{
    width: 4vw;
    border-radius: 50%;
    background-color: rgba(151, 235, 186, 0.534);
}

/*menu*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(92, 212, 182);
    height: 12vh;
    border-radius: 10px; 
}
.otros{
    background: rgb(92, 212, 182);
    font-size: 28px;
}
.otros:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
    transform: translatey(-5%);
    padding: 5px;
    background: rgb(177, 245, 228);
    border-radius: 5px;

}
/*section presentacion*/
h2{
    font-size: 50px;
    margin: 10px;
    text-decoration: underline;
    font-family: Caveat;
}
.presentacion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px;
}
.tex{
    font-size: 40px;
    line-height: 50px;
    width: 50vw;
    color: rgb(90, 22, 153);
    font-family: Indie Flower;
}
figure{
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    padding: 5px;
}
.alfajor{
    width: 25vw;
}
/*section receta*/
.receta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;
}
.lista{
    background:url(../imagenes/h.jpg);
    background-size: cover;
    width: 35vw;
    padding: 20px;
    border-radius: 5px;

    }

.vi {
    width: 50%; 
    height: 315px;
}
/*section ubicacion*/
.donde{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;
}
.map{
    width: 43vw;
    height:33vw ;
}

/*pie de pagina*/
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: rgba(115, 177, 141, 0.534);
    margin: auto;
    padding: 10px;
    margin: 30px;
}
.was{
    position: fixed;
    bottom: 5%;
    right: 1%;
}
