*{
    margin:0px ;
    padding:0px ;
}
body{
    background:  rgb(215, 197, 248) url(../imagenes/a8.jpg);
    padding: 60px;
}

/*cabezal*/
header{
    display: flex ;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px;
}
.logo{
    display: flex;
    order: -1;
    width: 200px;
}
h1{
    font-size: 70px;
}
.medios{
    background: rgb(180, 180, 180);
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ic{
    width: 100px;
}
/*menu*/
nav{
    display: flex;
    justify-content: space-around;
    background: rgb(92, 212, 182);
    padding: 20px;
    border-radius: 10px; 
}
.otros{
    background: rgb(92, 212, 182);
    font-size: 28px;
}
/*section presentacion*/
h2{
    font-size: 50px;
    margin: 10px;
    text-decoration: underline;
}
.presentacion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px;
}
.tex{
    font-size: 40px;
    line-height: 50px;
    width: 650px;
    color: rgb(90, 22, 153);
}
figure{
    height: 370px;
    width: 370px;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}
.alfajor{
    margin: 10px;
    height: 350px;
}
/*section receta*/
.receta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;
}
.lista{
    background:url(../imagenes/h.jpg);
    background-size: cover;
    width: 500px;
    padding: 20px;
    border-radius: 5px;
     }
/*section ubicacion*/
.donde{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;
}

/*pie de pagina*/
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: rgba(115, 177, 141, 0.534);
    margin: auto;
    padding: 10px;
    margin: 30px;
}
.was{
    position: fixed;
    bottom: 5%;
    right: 1%;
}